.Objectives {
    background-color: rgb(245, 243, 243);
    border-radius: 10px;
    margin: 2%;
    padding: 10px;
    border:1px solid rgb(172, 167, 167);
}

.Objectives select{
    height: 30px;
    width:550px;
    overflow: scroll;
}

.Objectives select option{
    height: 35px;
    width: 550px
}