.Strengths {
    background-color: rgb(245, 243, 243);
    border-radius: 10px;
    margin: 2%;
    padding: 10px;
    border:1px solid rgb(172, 167, 167);
}

.Strengths div {
    margin-left: 10px;
    padding: 5px;
}